*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b22a2a;
}

#left, #right{
    width: 300px;
    height: 400px;
    border: 2px dashed #ffffff;
    margin: 0 20px;
    border-radius: 10px;
}

.list{
    background: #c06524;
    height: 60px;
    margin: 30px;
    border: solid 1px #ffffff;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;

}

.list img{
    width: 10px;
    margin-right: 15px;
    margin-left: 20px;
    margin: 0 10px;
}